<div class="container">
  <%= form_with(model: order, local: true) do |form| %>
    <% if order.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

        <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= form.text_field :name, id: :order_name, class:"form-control form-control-sm", placeholder:"Name of the customer" %>
    </div>

    <div class="form-group">
      <%= form.text_field :mobile_number, id: :order_mobile_number, class:"form-control form-control-sm", placeholder:"Mobile Number" %>
    </div>

    <div class="form-group">
      <%= form.text_field :email, id: :order_email, class:"form-control form-control-sm", placeholder:"Email" %>
    </div>

    <div class="form-group">
      <%= form.text_field :total_price, id: :order_total_price, class:"form-control form-control-sm", placeholder:"Total Price" %>
    </div>

    <div class="form-group">
      <%= form.text_area :comments, id: :order_comments, class:"form-control form-control-sm", placeholder:"Comments" %>
    </div>

    <div class="actions">
      <div class="form-group"><%= form.submit "Create", class: "btn btn-danger" %></div>
    </div>
  <% end %>
</div>
