<div class="container">
  <%= form_with(model: food, local: true) do |form| %>
    <% if food.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

        <ul>
        <% food.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= form.text_field :name, id: :food_name, class:"form-control form-control-sm", placeholder:"Name"  %>
    </div>

    <div class="form-group">
      <%= form.text_field :high_price, id: :high_price, class:"form-control form-control-sm" , placeholder:"High Price" %>
    </div>

    <div class="form-group">
      <%= form.text_field :low_price, id: :low_price, class:"form-control form-control-sm", placeholder:"Low Price"  %>
    </div>

    <div class="form-group">
      <%= form.text_field :normal_price, id: :normal_price, class:"form-control form-control-sm", placeholder:"Price"  %>
    </div>

    <div class="form-group">
      <%= form.text_field :quantity, id: :quantity, class:"form-control form-control-sm", placeholder:"Quantity"  %>
    </div>

    <div class="form-group">
      <%= form.number_field :weight, id: :weight, class:"form-control form-control-sm" , placeholder:"Weight" %>
    </div>

    <div class="form-group">
      <%= form.text_field :category, id: :category, class:"form-control form-control-sm" , placeholder:"Category" %>
    </div>


    <div class="actions">
      <div class="form-group"><%= form.submit "Create", class: "btn btn-danger" %></div>
    </div>
  <% end %>
</div>
