<div class="container">
  <%= form_with(model: alcohol, local: true) do |form| %>
    <% if alcohol.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(alcohol.errors.count, "error") %> prohibited this alcohol from being saved:</h2>

        <ul>
        <% alcohol.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <br><br>
    <h2 align="center">Create Beverage Item</h2>
    <br>
    <div class="form-group">
      <%= form.text_field :name, id: :name, class:"form-control form-control-sm", placeholder:"Name of the alcohol" %>
    </div>
    <div class="form-group">
      <%= form.text_field :high_price, id: :alcohol_high_price, class:"form-control form-control-sm", placeholder:"High Price" %>
    </div>

    <div class="form-group">
      <%= form.text_field :low_price, id: :alcohol_low_price, class:"form-control form-control-sm", placeholder:"Low Price" %>
    </div>

    <div class="form-group">
      <%= form.text_field :standard_price, id: :alcohol_standard_price, class:"form-control form-control-sm", placeholder:"Price" %>
    </div>

    <div class="form-group">
      <%= form.number_field :weight, id: :alcohol_weight, class:"form-control form-control-sm", placeholder:"Weight" %>
    </div>

    <div class="form-group">
      <%= form.text_field :quantity, id: :alcohol_quantity, class:"form-control form-control-sm", placeholder:"quantity" %>
    </div>

    <div class="form-group">
      <%= form.text_field :category, id: :alcohol_category, class:"form-control form-control-sm", placeholder:"category" %>
    </div>

    <div class="form-group"><%= form.submit "Create", class: "btn btn-danger" %></div>
      
  <% end %>
</div>


