<section>
  <!--for demo wrap-->
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Name</th>
          <th>
            High Price<i class="material-icons" style="color: red">arrow_upward</i>
          </th>
          <th>
            Low Price<i class="material-icons" style="color: green; font-weight: bold">arrow_downward</i>
          </th>
          <th>Price</th>
          <th>Volume</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <% @alcohols.each do |alcohol| %>
          <tr>
            <td class="text-monospace", id="name_color"><%= alcohol.name %></td>
            <td class="text-monospace" id="high_price">$<%= alcohol.high_price %></td>
            <td class="text-monospace" id="low_price">$<%= alcohol.low_price %></td>
            <td class="text-monospace">$<%= alcohol.standard_price %></td>
            <td class="text-monospace"><%= alcohol.weight %>ml</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>

<style type="text/css">



  h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
  }
  table{
    width: 100%;
    table-layout: fixed;
  }
  .tbl-header{
    background-color: rgba(255,255,255,0.3);
   }
  .tbl-content{
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
  }
  th{
    padding: 20px 15px;
    text-align: left;
    font-weight: bold;
    font-size: 15 px;
    font-style: italic;
    text-transform: uppercase;
    background: -webkit-linear-gradient(left, #25b7c4, #25c481);
    background: linear-gradient(to right, #25b7c4, #25c481);
  }
  td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 15px;

    border-bottom: solid 1px #404040;
  }


  /* demo styles */

  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
  body{
    /*background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);*/
    /*background: #282828;*/
    background: black;
    font-family: 'Roboto', sans-serif;
    color: white;
  }


  /* for custom scrollbar for webkit browser*/

  ::-webkit-scrollbar {
      width: 6px;
  } 
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  } 
  ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  }

</style>


<!-- <script type="text/javascript">
  setTimeout(function() {
  location.reload();
}, 10000);
</script> -->
