<section>
  <!--for demo wrap-->
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>High Price</th>
        <th>Low Price</th>
        <th>Price</th>
        <th>Quantity(in ml)</th>
        <th>Category</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
  


    <tbody>
      <% @alcohols.each do |alcohol| %>
        <tr>
          <%= form_for alcohol, :url => alcohols_edit_path(alcohol), method: :get do |f|  %>  
            <td><%= f.text_field :name, value:alcohol.name , class:"form-control form-control-sm" %></td>
            <td><%= f.text_field :high_price, value:alcohol.high_price, class:"form-control form-control-sm" %></td>
            <td><%= f.text_field :low_price, value:alcohol.low_price, class:"form-control form-control-sm" %></td>
            <td><%= f.text_field :standard_price, value:alcohol.standard_price, class:"form-control form-control-sm" %></td>
            <td><%= f.text_field :quantity, value:alcohol.quantity, class:"form-control form-control-sm" %></td>
            <td><%= f.text_field :category, value:alcohol.category, class:"form-control form-control-sm" %></td>
            <td><%= f.submit "Update", class:"btn btn-primary btn-sm" %></td>
            <td>
              <%= link_to alcohol, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="material-icons">delete_forever</i>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>