<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @alcohol.name %>
</p>

<p>
  <strong>High price:</strong>
  <%= @alcohol.high_price %>
</p>

<p>
  <strong>Low price:</strong>
  <%= @alcohol.low_price %>
</p>

<p>
  <strong>Standard price:</strong>
  <%= @alcohol.standard_price %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @alcohol.weight %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @alcohol.quantity %>
</p>

<p>
  <strong>Category:</strong>
  <%= @alcohol.category %>
</p>

<%= link_to 'Edit', edit_alcohol_path(@alcohol) %> |
<%= link_to 'Back', alcohols_path %>
